.buttonContainer {
    width: 200px;
    height: 40px;
    border: 1px solid #D7DFE9;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ActiveButton {
    background: #0B69FF;
    color: white;
}

.InativeButton {
    color: #171F46;
    background: rgba(215, 223, 233, 0.24);
}

@media only screen and (max-width: 600px){
    .buttonContainer {
        width: 100px;
        height: 25px;
    }
}